{% extends 'layouts.html' %}
{%block content%}
<div class="jumbotron home" style="background-color: rgb(68, 97, 118); margin-bottom: 0%; margin-top: 0%;" >
<center><h1 style="color: rgb(161, 239, 140);">Games that we have created</h1></center>
<br><br>
<div id="carouselCCMTA" class="carousel slide" data-bs-ride="false" style="background-color: rgb(68, 97, 118);">
   <a href="https://ozcardev.itch.io/crazy-color-magic-train-adventure">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img src="https://media.discordapp.net/attachments/945882029592035328/1017585678378336276/CrazyColorMagicTrain.png?width=1202&height=676" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017589900142465134/Niveles.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">

        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017590042752978945/Gameplay.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017590075309174806/Screenshot_1.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
    
    </div>
  </a>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCCMTA" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCCMTA" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
 
  <div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
  <p style="color: rgb(161, 239, 140);" align="center">Crazy Color Magic Train Adventure es un juego  donde tendrás que manejar un tren que cambia de color para poder esquivar diversos obstáculos en camino a la estación. ¿Serás capaz de sortear los obstáculos y llegar a tu destino?</p>
</div>
  <br><br>
  

  <div id="carouselSplitted" class="carousel slide" data-bs-ride="false" style="background-color: rgb(68, 97, 118);">
    <a href="https://globalgamejam.org/2022/games/splitted-7">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img src="https://cdn.discordapp.com/attachments/889329044468957255/1017582346481971280/unknown.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
        
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592069092548760/Screenshot_1.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592062180347964/Screenshot_8.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592079754469516/Screenshot_2.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
    </div>
  </a>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSplitted" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselSplitted" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
  <div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
    <p style="color: rgb(161, 239, 140);" align="center">When you feel like you can't die yet, the Oracle splits your soul in two pieces. They have to cooperate. That's the only way to find yourself again and have a peaceful end</p>
   <br><br> 

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="background-color: rgb(68, 97, 118);">
  <a href="https://edgardev38.itch.io/dice-space">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img src="https://media.discordapp.net/attachments/945882029592035328/1017583775573614612/Dice_Space.png?width=1202&height=676" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017590594664669254/Screenshot_3.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017590676227104868/Screenshot_6.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017590714206539886/Screenshot_7.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
    </div>
  </a>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
  <div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
    <p style="color: rgb(161, 239, 140);" align="center">Dice Space is a bullet-hell game where you have a dice that is rolled every 7 seconds to get a power up.</p>
    <br><br>
  </div>
</div>

<div class="jumbotron home" style="background-color: rgb(44, 33, 55); margin-bottom: 0%; margin-top: 0%;" >
  <center><h1 style="color: rgb(161, 239, 140);" align="center">Games that we have participated on</h1></center>
  <br><br>
  <div id="carouselPirates" class="carousel slide" data-bs-ride="false" style="background-color: rgb(44, 33, 55);">
  <a href="https://edgardev38.itch.io/crazypiratedungeonfps">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017587341960941608/PiratesDungeon.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592005691445280/Screenshot_6.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592019994030171/Screenshot_8.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
      <div class="carousel-item">
        <center><img src="https://cdn.discordapp.com/attachments/945882029592035328/1017592027677986927/Screenshot_9.png" class="d-block w-50" alt="..."></center>
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
  
    </div>
  </a>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPirates" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPirates" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>
  <div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%;">
    <p style="color: rgb(161, 239, 140);" align="center">
      PiratesDungeon es un juego de disparos en 1ra persona el cual esta repleto de acción que solo los mas aptos son capaces de completar.
    </p>
    <br> <br>
  </div>
</div>
  {%endblock content%}
