<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
<!--Bootstrap5 CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<!-- Costume para Main.css   -->
<link rel="stylesheet"  href="{{url_for('static',filename='main.css')}}"  >

<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
rel="stylesheet"
/>
<link
href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
rel="stylesheet"
/>

<title>Test</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg" style="background-color: rgb(44, 33, 55); margin: 0;">

    <div class="container-fluid">

      <a class="navbar" href="{{url_for('homepage')}}">
        <img src="https://cdn.discordapp.com/attachments/945882029592035328/1017568542108954634/Logo.png" alt="" width="140" height="56" >
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-light">
          <h3><a style="color: rgb(161, 239, 140)" class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Home</a></h3>
          <h3><a style="color: rgb(161, 239, 140)" class="nav-link" href="{{url_for('about')}}">About us</a></h3>
          <h3><a style="color: rgb(161, 239, 140)" class="nav-link" href="{{url_for('games')}}">Games</a></h3>

        </div>
        <!--<h3><a class="nav-link disabled">Disabled</a></h3>-->

      </div>
    </div>


    
  </nav>

</head> 
<body>

<div class="container w-50">
{%with messages=get_flashed_messages(with_categories=true)%}
{%if messages%}
{%for category, message in messages%} 
<div class="alert alert-{{category}}">
{{message}}
</div>
{%endfor%}
{%endif%}
{%endwith%}
</div>
{%block content%}
{%endblock content%}

 
    <!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>