{% extends 'layouts.html' %}
{%block content%}
<div class="jumbotron home" style="background-color: rgb(44, 33, 55); margin-bottom: 0%; margin-top: 0%;" >
<div style="margin-top: 2% ; margin-left: 10% ; margin-right: 10%; background-color: rgb(68, 97, 118);">
<table>
    <tr>
        <th width="30%"><h1 align="center" style="color: rgb(161, 239, 140);">Name</h1>

            <center><img src="https://simg.nicepng.com/png/small/72-729987_big-image-user-clipart-png.png" alt=""width="200" ></center>
            <p align="center" style="color: rgb(161, 239, 140);">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <br>
            <h3 align="center" style="color: rgb(161, 239, 140);">
                Social Media
            </h3>
            <p align="center" style="color: rgb(161, 239, 140);">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </th>
        <th width="70%">
            <h1 align="center" style="color: rgb(161, 239, 140);">Games</h1>
            <table>
                <tr>
                    <th width="30%">
                        <img src="https://cdn.discordapp.com/attachments/889329044468957255/1017582346481971280/unknown.png" alt=""width="200">
                    </th>
                    <th width="70%">
                        <p>ghbdfcugbcukhgbdiuwebgciedbvciewhybgewhycfvedhrjfcewdjrxcb wejkq</p>
                    </th>
                </tr>
                <tr>
                    <th width="30%">
                        <img src="https://cdn.discordapp.com/attachments/889329044468957255/1017582346481971280/unknown.png" alt=""width="200">
                    </th>
                    <th width="70%">
                        <p>ghbdfcugbcukhgbdiuwebgciedbvciewhybgewhycfvedhrjfcewdjrxcb wejkq</p>
                    </th>
                </tr>
            </table>
        </th>
    </tr>
</table>
</div></div>
{%endblock content%}